<div class="container">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto bg-light p-5">
            <form method="post" action="/">
                <div class="input-group p-2">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Escribe tu email">
                </div>
                <div class="input-group p-2">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Escribe tu contraseña">
                </div>
                <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
            </form>
        </div>

        <div class="col-auto">
            <div>
                <a href="/restore">Restablecer contraseña</a>
            </div>
            <div>
                <p>No tienes cuenta ? <a href="/register">Registrarse</a></p>
            </div>
            <div>
                <a href="/github"><button>Entrar con GitHub</button></a>
            </div>
        </div>
    </div>
</div>








